<section class="articlePrev">
  <div class="container">
    <div class="articlePrev__wrapper">
      <article class="articlePrev__article">
        <img
          loading="lazy"
          src="./assets/image/article-prev-img-1.jpg"
          width="584"
          height="751"
          alt="Desktop with laptop"
          class="articlePrev__article-img"
        />
        <a
          href="/coca/blogDetail.html"
          class="articlePrev__article-title heading-h3"
          >How we perform long-running tasks using AWS services</a
        >
        <p class="articlePrev__article-desc text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </article>
      <article class="articlePrev__article">
        <img
          loading="lazy"
          src="./assets/image/article-prev-img-2.jpg"
          width="584"
          height="507"
          alt="A guy at an office meeting"
          class="articlePrev__article-img"
        />
        <a href="#" class="articlePrev__article-title heading-h3"
          >Layout Exploration — Simple exercise but big effect</a
        >
        <p class="articlePrev__article-desc text-p-medium">
          Make alternatives or other options for the design we are making. For
          example, we are creating a website design. Then there is the
          testimonial section.
        </p>
      </article>
      <article class="articlePrev__article">
        <img
          loading="lazy"
          src="./assets/image/article-prev-img-3.jpg"
          width="584"
          height="507"
          alt="Group of people in the office"
          class="articlePrev__article-img"
        />
        <a href="#" class="articlePrev__article-title heading-h3"
          >How to ask when doing User Research</a
        >
        <p class="articlePrev__article-desc text-p-medium">
          Bro, the story is that you want to make an application for buying and
          selling goods on the market. During user research, what do you think
          you will ask people?
        </p>
      </article>
      <article class="articlePrev__article">
        <img
          loading="lazy"
          src="./assets/image/article-prev-img-4.jpg"
          width="584"
          height="751"
          alt="A group of people is discussing a project"
          class="articlePrev__article-img"
        />
        <a
          href="/coca/blogDetail.html"
          class="articlePrev__article-title heading-h3"
          >Webflow Break the Coding Barrier</a
        >
        <p class="articlePrev__article-desc text-p-medium">
          Webflow is web design tool as well as a hosting platform and CMS all
          in one. While you are probably familiar with all of these, they are
          usually entirely separate tools.
        </p>
      </article>
    </div>
  </div>
</section>
