<section class="hero hero-decor">
  <div class="container">
    <h2 class="hero__title heading-h1">Activity & Updates</h2>
    <p class="hero__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br />
      always designing and building products that <br />
      will help you run your business better.
    </p>
    <!-- Фильтры -->
    <div class="blog__filter text-p-default">
      <button
        class="blog__filter-btn blog__filter-btn-active"
        data-filter="all"
      >
        View all
      </button>
      <button class="blog__filter-btn" data-filter="design">Design</button>
      <button class="blog__filter-btn" data-filter="articles">Articles</button>
      <button class="blog__filter-btn" data-filter="product">Product</button>
      <button class="blog__filter-btn" data-filter="software">
        Software Development
      </button>
      <button class="blog__filter-btn" data-filter="customer">
        Customer Success
      </button>
    </div>

    <div class="swiper blog__slider">
      <div class="blog__slider-btns slider-btns">
        <svg
          width="28"
          height="18"
          viewBox="0 0 28 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
            stroke="#7E8492"
            stroke-width="3"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="swiper-wrapper">
        <div class="swiper-slide blog__slide" data-category="design">
          <img
            loading="lazy"
            class="blog__slide-img"
            src="./assets/image/blog-slide-1.jpg"
            width="515"
            height="428"
            alt="Woman drink tea"
          />
          <div class="blog__slide-date text-p-small">
            <span>Published in Insight</span>
            <time datetime="2021-01-30">Jan 30, 2021</time>
          </div>
          <h5 class="blog__slide-title heading-h5">
            Practice making User Flow
          </h5>
          <p class="blog__slide-desc">
            In this article, we'll cover how to create user flows
          </p>
        </div>
        <div class="swiper-slide blog__slide" data-category="articles">
          <img
            loading="lazy"
            class="blog__slide-img"
            src="./assets/image/about-slide-3.jpg"
            width="515"
            height="428"
            alt="Two girls are studying a website on a laptop"
          />
          <div class="blog__slide-date text-p-small">
            <span>Published in Insight</span>
            <time datetime="2021-01-30">Jan 30, 2021</time>
          </div>
          <h5 class="blog__slide-title heading-h5">
            Overview of the Design Principles
          </h5>
          <p class="blog__slide-desc">
            What are Design Principles?… To understand design principles, we
            first discuss the principles.
          </p>
        </div>
        <div class="swiper-slide blog__slide" data-category="customer">
          <img
            loading="lazy"
            class="blog__slide-img"
            src="./assets/image/get-started-img.jpg"
            width="515"
            height="428"
            alt="Two girls are studying a website on a laptop"
          />
          <div class="blog__slide-date text-p-small">
            <span>Published in Insight</span>
            <time datetime="2021-01-30">Jan 30, 2021</time>
          </div>
          <h5 class="blog__slide-title heading-h5">
            Using Grid in website design
          </h5>
          <p class="blog__slide-desc">
            Andi: "What's the grid like?" Toni: “Like below…”
          </p>
        </div>
        <div class="swiper-slide blog__slide" data-category="software">
          <img
            loading="lazy"
            class="blog__slide-img"
            src="./assets/image/about-slide-2.jpg"
            width="515"
            height="428"
            alt="A group of people is discussing a project"
          />
          <div class="blog__slide-date text-p-small">
            <span>Published in Insight</span>
            <time datetime="2021-01-30">Jan 30, 2021</time>
          </div>
          <h5 class="blog__slide-title heading-h5">
            Lorem ipsum dolor sit amet.
          </h5>
          <p class="blog__slide-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
            maxime.
          </p>
        </div>
        <div class="swiper-slide blog__slide" data-category="product">
          <img
            loading="lazy"
            class="blog__slide-img"
            src="./assets/image/about-slide-1.jpg"
            width="515"
            height="428"
            alt="Laptop and coffee on the table"
          />
          <div class="blog__slide-date text-p-small">
            <span>Published in Insight</span>
            <time datetime="2021-01-30">Jan 30, 2021</time>
          </div>
          <h5 class="blog__slide-title heading-h5">
            Lorem ipsum dolor sit amet.
          </h5>
          <p class="blog__slide-desc">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim,
            maxime.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
